.basketCard {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;

}

.payForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.basket-title {
    font-size: 20px;
}